<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Roster</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
    <script type="text/javascript" src="{% static "js/jquery-1.12.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Simple Roster App</h1>
        <p>A simple rostering application for editing the shifts of employees</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <h3>Roster</h3>
                {% if datalist %}
                    <p>The database currently contains {{ datalist.count }} rosters.</p>
                {% else %}
                    <p>There are no rosters.</p>
                    <p><a href="{% url 'roster_create' %}" class="btn btn-info">Create New Roster</a></p>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well">
                <h3>Shifts</h3>
                {% if shift_list %}
                    <p>The roster currently contains {{ shift_list }} shifts.</p>
                {% else %}
                    <p>There are no shifts.</p>
                    {% if datalist.count > 0%}
                    <p><a href="{% url 'load_shifts' %}" class="btn btn-info">Load Shifts</a></p>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well">
                <h3>Employees</h3>
                {% if employee_list %}
                    <p>The database currently contains {{ employee_list }} employees.</p>
                {% else %}
                    <p>There are no employees.</p>
                    <p><a href="{% url 'load_employees' %}" class="btn btn-info">Load Employees</a></p>
                {% endif %}
            </div>
        </div>

    </div>
</body>
</html>